body {
    background-color: lightblue;
}

section {
    margin: auto;
    width: 50%;
    border: black solid 1px;

    main {
        width: 80%;
        height: 20em;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 1em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .fruits-container {
            border: black 1px solid;
            width: 150px;
            height: 150px;
        }
    }

    .start-container {
        border: black solid 1px;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 2em;
        width: 80%;
        height: 5em;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #start {
        width: 100%;
    }
}